/* Imports */
body {
  color: #9e9e9e;
  background: #f1f1f1;
}
a {
  color: #d34d00;
}
#header-wrap {
  background: #ffffff;
}
#featured {
  position: relative;
}
#featured .slide {
  padding: 2.618em 0;
  min-height: 350px;
  background: #ff823a;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff823a), to(#ffa45c));
  background: -webkit-linear-gradient(#ff823a, #ffa45c);
  background: -moz-linear-gradient(center top, #ff823a 0%, #ffa45c 100%);
  background: -moz-gradient(center top, #ff823a 0%, #ffa45c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff823a,endColorstr=#ffa45c);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff823a, endColorstr=#ffa45c)";
}
#featured .slide .entry {
  color: #ffd3ba;
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.section-title h1 {
  color: #68B3AF !important;
}
.follow-link a,
a.button,
a.woo-sc-button.custom,
a.comment-reply-link,
#commentform #submit,
.submit,
input[type=submit],
input.button,
button.button {
  border: 1px solid #ff823a;
  background: #ff823a;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff823a), to(#ee7129));
  background: -webkit-linear-gradient(#ff823a, #ee7129);
  background: -moz-linear-gradient(center top, #ff823a 0%, #ee7129 100%);
  background: -moz-gradient(center top, #ff823a 0%, #ee7129 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff823a,endColorstr=#ee7129);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff823a, endColorstr=#ee7129)";
}
.follow-link a:hover,
a.button:hover,
a.woo-sc-button.custom:hover,
a.comment-reply-link:hover,
#commentform #submit:hover,
.submit:hover,
input[type=submit]:hover,
input.button:hover,
button.button:hover {
  background: #ff823a;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff823a), to(#ffb56d));
  background: -webkit-linear-gradient(#ff823a, #ffb56d);
  background: -moz-linear-gradient(center top, #ff823a 0%, #ffb56d 100%);
  background: -moz-gradient(center top, #ff823a 0%, #ffb56d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff823a,endColorstr=#ffb56d);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff823a, endColorstr=#ffb56d)";
}
