/* BLUE PASTEL STYLESHEET */

body  { background-color: #f4f6f8; }

#navigation, #footer-widgets  {
	border-color: #477191;
	/*BACKGROUND*/
	background-color: #8eaac0; /*FALLBACK*/
}

/*Main link color*/
a:link, a:visited, #menu tbody .price, .widget_woo_specials h4 .price, .widget_woo_specialsmonthly h4 .price, .widget_recent_comments ul li a, .widget_woo_twitter ul li a  { color: #60849f; }

/*Main link hover color*/
a:hover, .widget_woo_specials li h4 a:hover .price, .widget_woo_specialsmonthly h4 a:hover .price, .widget_recent_comments ul li a:hover, .widget_woo_twitter ul li a:hover { color: #8eaac0; }

/*Nav*/
.nav a  { color:#deebf5;  }
.nav li ul li a  { color:#deebf5!important; }

/*Misc*/
.nav li ul, #menu .info-bar .order a.active, #menu .info-bar .order a:hover, #footer-widgets #tabs .inside li img.avatar, #footer-widgets #tabs .inside li img.thumbnail  { background-color: #8eaac0; }
.nav li ul  { border-color: #477191; }
.nav li ul li  { border-bottom-color: #477191; }
#header, #header .inside-header, #reservations span, #reservations span.heading, #menu .info-bar .order a.active, #menu .info-bar .order a:hover  { border-color: #8eaac0; }
#wootable-calendar-holder table tbody td.ui-datepicker-current-day a, #wootable-calendar-holder table tbody td.ui-datepicker-current-day a:hover  { background-color: #8eaac0; color: #fff; text-shadow: 1px 1px #000; }


/*Footer widgets*/
#footer-widgets .widget  { text-shadow: 1px 1px 0 #818181; }
#footer-widgets a  { color: #fff; text-decoration: underline; }
#footer-widgets .widget ul li a, #footer-widgets .widget, #footer-widgets #wp-calendar th, #footer-widgets #wp-calendar td, #footer-widgets .widget_woo_twitter h3 .username a, #footer-widgets #tabs ul.wooTabs li a, #footer-widgets #tabs .inside li, #footer-widgets #tab-tags a, #footer-widgets #tabs .inside li a, #footer-widgets .widget_tag_cloud a  { color: #fff; }
#footer-widgets #tabs ul.wooTabs li a.selected, #footer-widgets #tabs ul.wooTabs li a:hover, #footer-widgets .widget_woo_flickr a:hover img, #footer-widgets #wp-calendar th, #footer-widgets #wp-calendar td, #footer-widgets #tabs .inside  { background-color: #3d627f; }
#footer-widgets #wp-calendar th, #footer-widgets #wp-calendar td, #footer-widgets #tabs .inside li  { border-color: #3d627f;}
#footer-widgets .widget h3  { color: #fff; }
#footer-widgets .widget input.s  { background-color: #3d627f; border-color: #a9c9e1; color: #fff; }
#wp-calendar th,#wp-calendar td{color:#9E9E9E;}
#footer-widgets #tabs .inside li, #footer-widgets #tab-tags { background:#6b96b7; }
#footer-widgets #tabs .inside li span.meta  { color: #000; }
#tabs ul.wooTabs li a.selected  { color: #fff!important; }

#footer-widgets .widget h3, #footer-widgets .widget_woo_search, #footer-widgets .widget_woo_flickr, #footer-widgets .widget_tag_cloud, #footer-widgets .widget_text, #footer-widgets .widget_woo_twitter ul li, #footer-widgets .adspace-widget, #footer-widgets .widget_woo_blogauthorinfo   { background-image: url(blue-pastel/indent-line.png); }


/*Buttons*/
a.button, a.comment-reply-link, #commentform #submit, .search_main .submit, input[type=submit].button, button.ui-state-default {
	border: 1px solid #8eaac0; border-bottom-color: #8eaac0;
	background: #8eaac0; /*Fallback*/
	background: -webkit-gradient( linear, left top, left bottom, color-stop(.2, #8eaac0), color-stop(1, #60849f) );
	background: -moz-linear-gradient( center top, #8eaac0 20%, #60849f 100% );
}

a.button:hover, a.button.hover, a.button.active, a.comment-reply-link:hover, #commentform #submit:hover, .search_main .submit:hover, input[type=submit].button:hover, button.ui-state-default:hover {
	background: #718ea5; /*Fallback*/
	background: -webkit-gradient( linear, left top, left bottom, color-stop(.2, #718ea5), color-stop(1, #4d728e) );
	background: -moz-linear-gradient( center top, #718ea5 20%, #4d728e 100% );
}