/* PURPLE STYLESHEET */

body  { background-color: #f5f0f8; }

#navigation, #footer-widgets  {
	border-color: #000;
	/*BACKGROUND*/
	background-color: #7b00c1; /*FALLBACK*/
}

/*Main link color*/
a:link, a:visited, #menu tbody .price, .widget_woo_specials h4 .price, .widget_woo_specialsmonthly h4 .price, .widget_recent_comments ul li a, .widget_woo_twitter ul li a  { color: #7b00c1; }

/*Main link hover color*/
a:hover, .widget_woo_specials li h4 a:hover .price, .widget_woo_specialsmonthly h4 a:hover .price, .widget_recent_comments ul li a:hover, .widget_woo_twitter ul li a:hover { color: #6b00a9; }

/*Nav*/
.nav a  { color:#e4cef1;  }
.nav li ul li a  { color:#e4cef1!important; }

/*Misc*/
.nav li ul, #menu .info-bar .order a.active, #menu .info-bar .order a:hover, #footer-widgets #tabs .inside li img.avatar, #footer-widgets #tabs .inside li img.thumbnail  { background-color: #3b0759; }
#header, #header .inside-header, #reservations span, #reservations span.heading, #menu .info-bar .order a.active, #menu .info-bar .order a:hover  { border-color: #7b00c1; }
#wootable-calendar-holder table tbody td.ui-datepicker-current-day a, #wootable-calendar-holder table tbody td.ui-datepicker-current-day a:hover  { background-color: #360850; color: #fff; text-shadow: 1px 1px #000; }


/*Footer widgets*/
#footer-widgets a  { color: #fff; text-decoration: underline; }
#footer-widgets .widget ul li a, #footer-widgets .widget, #footer-widgets #wp-calendar th, #footer-widgets #wp-calendar td, #footer-widgets .widget_woo_twitter h3 .username a, #footer-widgets #tabs ul.wooTabs li a, #footer-widgets #tabs .inside li, #footer-widgets #tab-tags a, #footer-widgets #tabs .inside li a, #footer-widgets .widget_tag_cloud a  { color: #fff; }
#footer-widgets #tabs ul.wooTabs li a.selected, #footer-widgets #tabs ul.wooTabs li a:hover, #footer-widgets .widget_woo_flickr a:hover img, #footer-widgets #wp-calendar th, #footer-widgets #wp-calendar td, #footer-widgets #tabs .inside  { background-color: #32084a; }
#footer-widgets #wp-calendar th, #footer-widgets #wp-calendar td, #footer-widgets #tabs .inside li  { border-color: #32084a;}
#footer-widgets .widget h3  { color: #ddc4ea; }
#footer-widgets .widget input.s  { background-color: #32084a; border-color: #742a9e; }
#wp-calendar th,#wp-calendar td{color:#9E9E9E;}
#footer-widgets #tabs .inside li, #footer-widgets #tab-tags { background:#561b77; }
#footer-widgets #tabs .inside li span.meta  { color: #000; }
#tabs ul.wooTabs li a.selected, #tabs ul.wooTabs li a:hover  { color: #fff!important; }


/*Buttons*/
a.button, a.comment-reply-link, #commentform #submit, .search_main .submit, input[type=submit].button, button.ui-state-default {
	border: 1px solid #4e0e72; border-bottom-color: #4e0e72;
	background: #4e0e72; /*Fallback*/
	background: -webkit-gradient( linear, left top, left bottom, color-stop(.2, #4e0e72), color-stop(1, #3b0759) );
	background: -moz-linear-gradient( center top, #4e0e72 20%, #3b0759 100% );
}

a.button:hover, a.button.hover, a.button.active, a.comment-reply-link:hover, #commentform #submit:hover, .search_main .submit:hover, input[type=submit].button:hover, button.ui-state-default:hover {
	background: #400a5e; /*Fallback*/
	background: -webkit-gradient( linear, left top, left bottom, color-stop(.2, #400a5e), color-stop(1, #360850) );
	background: -moz-linear-gradient( center top, #400a5e 20%, #360850 100% );
}